/* Dark Mode */
:root,
html.dark {
  --text-main: rgba(255, 255, 255, 0.87);
  --text-secondary: rgb(50, 37, 97);
  --background-main: rgb(32, 35, 49);
  --background-secondary: rgb(221, 214, 255);
  --accent: rgb(116, 123, 255);
}

/* Light Mode */
html.light {
  --text-main: rgba(56, 26, 1, 0.87);
  --text-secondary: rgba(255, 239, 204);
  --background-main: rgb(255, 239, 204);
  --background-secondary: rgba(73, 34, 2, 0.87);
  --accent: rgb(158, 116, 255);
}

/* Global Styles */
:root {
  font-family: 'Brush Script MT', 'Lucida Handwriting', cursive;
  line-height: 1;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-main);
  background-color: var(--background-main);

  text-align: center;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-size: 1rem;
  font-family: 'Brush Script MT', 'Lucida Handwriting', cursive;
  padding: 0.5em 1em;

  border: none;
  border-radius: 0.25em;

  background-color: var(--background-secondary);

  color: var(--text-secondary);
  cursor: pointer;
  transition: background-color 300ms;
}

.clickable {
  cursor: pointer;
  width: 100px;
}